//--- All Variables - Related Stuff Included In This Area ---↓

// Font Family
$rubik-font: 'Rubik', sans-serif;

// Transition
$baseTransition: all 0.3s ease 0s;

// Color
$pronia-primary: #F72585;
$pronia-secondary: #4895ef;
$white: #ffffff;

// Border Color
$border-color: #dee2e6;
