<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Project.Controller.Login.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>MyAccoutController</servlet-name>
        <servlet-name>UpdateInformationController</servlet-name>
        <url-pattern>/my-account.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Project.Controller.Login.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>Project.Servlet.Product.CustomerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Project.Servlet.Product.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageServlet</servlet-name>
        <servlet-class>Project.Servlet.Product.PageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Project.Controller.User.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgottenController</servlet-name>
        <servlet-class>Project.Controller.User.ForgottenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInformationServlet</servlet-name>
        <servlet-class>Project.Controller.User.UpdateInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServler</servlet-name>
        <servlet-class>Project.Controller.User.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Project.Controller.Admin.OrderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Project.Controller.Login.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccoutController</servlet-name>
        <servlet-class>Project.Controller.Login.MyAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleProduct</servlet-name>
        <servlet-class>Project.Controller.Product.SingleProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/CustomerListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageServlet</servlet-name>
        <url-pattern>/PageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgottenController</servlet-name>
        <url-pattern>/ForgottenController</url-pattern>
        <url-pattern>/forgotten</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInformationServlet</servlet-name>
        <url-pattern>/UpdateInformationServlet</url-pattern>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServler</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccoutController</servlet-name>
        <url-pattern>/MyAccoutController</url-pattern>
        <url-pattern>/MyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleProduct</servlet-name>
        <url-pattern>/infor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
